{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
     <h1>Accueil</h1>
    
    <h2>Articles par année :</h2>
    <ul>
        {% for year in years %}
            <li class="btn btn-primary"><a class="text-decoration-none text-light" href="{{ path('app_articles_by_year', {'year': year}) }}">{{ year }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
